[submodule "src/f1tenth_planning_custom_msgs"]
	path = src/f1tenth_planning_custom_msgs
	url = https://github.com/thejourneyofbabo/f1tenth_planning_custom_msgs.git
[submodule "src/basecode_follow_the_gap"]
	path = src/basecode_follow_the_gap
	url = https://github.com/2025-AILAB-Internship-F1TheBeast/basecode_follow_the_gap
[submodule "src/f1tenth_gym_ros"]
	path = src/f1tenth_gym_ros
	url = https://github.com/f1tenth/f1tenth_gym_ros.git
[submodule "src/LocalPlanning_Learning"]
	path = src/LocalPlanning_Learning
	url = https://github.com/binxni/LocalPlanning_Learning.git
